In [2]:
import pandas as pd

data = pd.read_csv("data.csv")
data

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
78251,1 month,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,3 years,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01T00:00:00,2018-02-01T18:08:00,2018-02-01T18:08:00,NaN,Rabies Risk,Euthanasia,Unknown
78254,2 months,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,2 months,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

In [5]:
most_common_breeds = data['breed'].value_counts().head(10)

print('前10個出現次數最多的品種是:\n', most_common_breeds)

前10個出現次數最多的品種是:
 Domestic Shorthair Mix       23335
Pit Bull Mix                  6135
Chihuahua Shorthair Mix       4733
Labrador Retriever Mix        4608
Domestic Medium Hair Mix      2323
German Shepherd Mix           1892
Bat Mix                       1286
Domestic Longhair Mix         1228
Australian Cattle Dog Mix     1059
Siamese Mix                    998
Name: breed, dtype: int64

In [2]:
# 計算每個物種和花色出現的次數
type_color_counts = data.groupby(['animal_type', 'color']).size()

# 找到出現次數最多的動物和花色
most_common_type_color = type_color_counts.idxmax()

print('出現次數最多的動物和對應花色是:', most_common_type_color)

出現次數最多的動物和對應花色是: ('Dog', 'Black/White')

In [21]:
# 篩選出outcome_type欄位值為 "Adoption" 的所有資料
adopted_animals = data[data['outcome_type'] == 'Adoption']

# 以 "breed" 為分組依據，對 "animal_type" 欄位進行計數，並按計數結果降序排序
breed_counts = adopted_animals.groupby('breed')['breed'].count().sort_values(ascending=False)

# 顯示結果
print(breed_counts.head(10))

breed
Domestic Shorthair Mix       9901
Pit Bull Mix                 2265
Labrador Retriever Mix       2262
Chihuahua Shorthair Mix      2219
Domestic Medium Hair Mix     1052
German Shepherd Mix           895
Australian Cattle Dog Mix     587
Domestic Longhair Mix         580
Siamese Mix                   461
Dachshund Mix                 388
Name: breed, dtype: int64

In [26]:
# 篩選出outcome_type欄位值為 "Died" 的所有資料
died_animals = data[data['outcome_type'] == 'Died']


# 將monthyear欄位轉換為datetime格式
died_animals['datetime'] = pd.to_datetime(died_animals['monthyear'], format='%Y-%m')

# 篩選出年份在2010年到2015年之間的資料
died_animals_2010_2015 = died_animals[(died_animals['datetime'].dt.year >= 2010) & (died_animals['datetime'].dt.year <= 2015)]

# 計算行數，即2010年到2015年死亡的動物總數
total_died_animals_2010_2015 = len(died_animals_2010_2015)

# 顯示結果
print("2010年到2015年死亡的動物總數: {}".format(total_died_animals_2010_2015))

2010年到2015年死亡的動物總數: 335

C:\Users\bonni\AppData\Local\Temp\ipykernel_27948\2156315741.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  died_animals['datetime'] = pd.to_datetime(died_animals['monthyear'], format='%Y-%m')

In [ ]:
data['age_upon_outcome'] = data['age_upon_outcome'].astype(str)  # 將欄位轉換為字符串格式
data['age_upon_outcome'] = data['age_upon_outcome'].apply(lambda x: pd.Timedelta(x))  # 將欄位轉換為timedelta64數據類型

# 將age_upon_outcome欄位轉換為timedelta64數據類型，以天為單位
data['age_upon_outcome'] = data['age_upon_outcome'].apply(lambda x: x.split())
data['age_upon_outcome'] = data['age_upon_outcome'].apply(lambda x: int(x[0])*365 if 'year' in x else 0)
data['age_upon_outcome'] += data['age_upon_outcome'].apply(lambda x: int(x[0])*30 if 'month' in x else 0)
data['age_upon_outcome'] += data['age_upon_outcome'].apply(lambda x: int(x[0])*7 if 'week' in x else 0)
data['age_upon_outcome'] += data['age_upon_outcome'].apply(lambda x: int(x[0]) if 'day' in x else 0)
data['age_upon_outcome'] = pd.to_timedelta(data['age_upon_outcome'], unit='D')

# 計算age_upon_outcome欄位的平均值（即平均逗留時間）
avg_duration = data['age_upon_outcome'].mean()

# 將平均逗留時間轉換為天數
avg_duration_days = avg_duration.days

print('動物在庇護所的平均逗留時間為:', avg_duration_days, '天')