In [2]:
import pandas as pd

alldata = pd.read_csv("data.csv")
data = alldata[0:200]
data

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2 months,A680414,Cat,Domestic Shorthair Mix,Blue Tabby/White,2014-04-17T00:00:00,2014-07-08T11:16:00,2014-07-08T11:16:00,*Twix,Foster,Adoption,Neutered Male
196,2 years,A677404,Dog,Pembroke Welsh Corgi/Australian Cattle Dog,Tan/White,2011-10-24T00:00:00,2014-05-05T15:16:00,2014-05-05T15:16:00,*Annie,Partner,Transfer,Spayed Female
197,1 year,A673022,Other,Bat,Brown/Black,2013-02-19T00:00:00,2014-02-19T11:48:00,2014-02-19T11:48:00,NaN,Rabies Risk,Euthanasia,Unknown
198,1 month,A683224,Cat,Domestic Shorthair Mix,Blue,2014-05-24T00:00:00,2014-07-08T17:01:00,2014-07-08T17:01:00,NaN,Suffering,Euthanasia,Intact Male
199,4 months,A671082,Dog,Chihuahua Shorthair/Dachshund,White/Black,2013-09-07T00:00:00,2014-01-22T17:41:00,2014-01-22T17:41:00,Mcnugget,NaN,Adoption,Spayed Female

In [4]:
data['age_upon_outcome'].unique()

array(['2 weeks', '1 year', '9 years', '5 months', '4 months', '3 years',
       '1 month', '3 months', '2 years', '2 months', '4 years', '8 years',
       '3 weeks', '8 months', '12 years', '7 years', '5 years', '6 years',
       '5 days', '10 months', '4 weeks', '10 years', '2 days', '6 months',
       '14 years', '11 months', '15 years', '7 months'], dtype=object)

In [5]:
original_array = ['2 weeks', '1 year', '9 years', '5 months', '4 months', '3 years',
       '1 month', '3 months', '2 years', '2 months', '4 years', '8 years',
       '3 weeks', '8 months', '12 years', '7 years', '5 years', '6 years',
       '5 days', '10 months', '4 weeks', '10 years', '2 days', '6 months',
       '14 years', '11 months', '15 years', '7 months']
new_array = [(duration, days) for duration, days in zip(original_array, [14, 365, 3285, 152, 121, 1095, 30, 91, 730, 60, 1460, 2920, 21, 243, 4380, 2555, 1825, 2190, 5, 304, 28, 3650, 2, 182, 5110, 334, 5475, 212])]

In [36]:
new_array

[('2 weeks', 14),
 ('1 year', 365),
 ('9 years', 3285),
 ('5 months', 152),
 ('4 months', 121),
 ('3 years', 1095),
 ('1 month', 30),
 ('3 months', 91),
 ('2 years', 730),
 ('2 months', 60),
 ('4 years', 1460),
 ('8 years', 2920),
 ('3 weeks', 21),
 ('8 months', 243),
 ('12 years', 4380),
 ('7 years', 2555),
 ('5 years', 1825),
 ('6 years', 2190),
 ('5 days', 5),
 ('10 months', 304),
 ('4 weeks', 28),
 ('10 years', 3650),
 ('2 days', 2),
 ('6 months', 182),
 ('14 years', 5110),
 ('11 months', 334),
 ('15 years', 5475),
 ('7 months', 212)]

In [6]:
replace_dict = {'2 weeks': 14, '1 year': 365, '9 years': 3285, '5 months': 152, '4 months': 121, '3 years': 1095, '1 month': 30.4, '3 months': 91, '2 years': 730, '2 months': 60.8, '4 years': 1460, '8 years': 2920, '3 weeks': 21, '8 months': 243, '12 years': 4380, '7 years': 2555, '5 years': 1825, '6 years': 2190, '5 days': 5, '10 months': 304, '4 weeks': 28, '10 years': 3650, '2 days': 2, '6 months': 182, '14 years': 5110, '11 months': 334, '15 years': 5475, '7 months': 212}

# 讀取數據表格
alldata = pd.read_csv('data.csv')

# 將 age_upon_outcome 欄位的值替換為新值
alldata['age_upon_outcome'].replace(replace_dict, inplace=True)

# 將修改後的數據表格寫入新的檔案
alldata.to_csv('new_data.csv', index=False)
data = alldata[0:200]
data

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,14,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,365,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,365,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,3285,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,152,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
195,60.8,A680414,Cat,Domestic Shorthair Mix,Blue Tabby/White,2014-04-17T00:00:00,2014-07-08T11:16:00,2014-07-08T11:16:00,*Twix,Foster,Adoption,Neutered Male
196,730,A677404,Dog,Pembroke Welsh Corgi/Australian Cattle Dog,Tan/White,2011-10-24T00:00:00,2014-05-05T15:16:00,2014-05-05T15:16:00,*Annie,Partner,Transfer,Spayed Female
197,365,A673022,Other,Bat,Brown/Black,2013-02-19T00:00:00,2014-02-19T11:48:00,2014-02-19T11:48:00,NaN,Rabies Risk,Euthanasia,Unknown
198,30.4,A683224,Cat,Domestic Shorthair Mix,Blue,2014-05-24T00:00:00,2014-07-08T17:01:00,2014-07-08T17:01:00,NaN,Suffering,Euthanasia,Intact Male
199,121,A671082,Dog,Chihuahua Shorthair/Dachshund,White/Black,2013-09-07T00:00:00,2014-01-22T17:41:00,2014-01-22T17:41:00,Mcnugget,NaN,Adoption,Spayed Female

In [7]:
total_age = data['age_upon_outcome'].sum()
average_age = total_age / len(data)

print(f"平均待在收所天數：", average_age)

平均待在收所天數： 722.045

In [38]:
most_common_breeds = data['breed'].value_counts().head(10)

print('前10個出現次數最多的品種是:\n', most_common_breeds)

前10個出現次數最多的品種是:
 Domestic Shorthair Mix      63
Pit Bull Mix                16
Labrador Retriever Mix      13
Chihuahua Shorthair Mix     13
Domestic Medium Hair Mix     6
Bat                          4
Beagle Mix                   3
Labrador Retriever           3
Border Collie Mix            3
Australian Shepherd Mix      3
Name: breed, dtype: int64

In [39]:
# 計算每個物種和花色出現的次數
type_color_counts = data.groupby(['animal_type', 'color']).size()

# 找到出現次數最多的動物和花色
most_common_type_color = type_color_counts.idxmax()

print('出現次數最多的動物和對應花色是:', most_common_type_color)

出現次數最多的動物和對應花色是: ('Cat', 'Brown Tabby')

In [40]:
# 篩選出outcome_type欄位值為 "Adoption" 的所有資料
adopted_animals = data[data['outcome_type'] == 'Adoption']

# 以 "breed" 為分組依據，對 "breed" 欄位進行計數，並按計數結果降序排序
breed_counts = adopted_animals.groupby('breed')['breed'].count().sort_values(ascending=False)

# 顯示結果
print("被收養的前5種動物品種總數：",breed_counts.head(5))

被收養的前5種動物品種總數： breed
Domestic Shorthair Mix     28
Chihuahua Shorthair Mix    10
Labrador Retriever Mix      8
Border Collie Mix           2
Australian Shepherd Mix     2
Name: breed, dtype: int64

In [30]:
# 篩選出outcome_type欄位值為 "Died" 的所有資料
died_animals = data[data['outcome_type'] == 'Died']


# 將monthyear欄位轉換為datetime格式
died_animals['datetime'] = pd.to_datetime(died_animals['monthyear'], format='%Y-%m')

# 篩選出年份在2000年到2015年之間的資料
died_animals_2010_2015 = died_animals[(died_animals['datetime'].dt.year >= 2010) & (died_animals['datetime'].dt.year <= 2015)]

# 計算行數，即2000年到2015年死亡的動物總數
total_died_animals_2010_2015 = len(died_animals_2010_2015)

# 顯示結果
print("2010年到2015年死亡的動物總數: {}".format(total_died_animals_2010_2015))

2010年到2015年死亡的動物總數: 1

C:\Users\bonni\AppData\Local\Temp\ipykernel_29592\372173563.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  died_animals['datetime'] = pd.to_datetime(died_animals['monthyear'], format='%Y-%m')

In [41]:
cat_data = data[data['animal_type'] == 'Cat']

# 將date_of_birth欄位轉換為datetime格式
cat_data['birth_datetime'] = pd.to_datetime(cat_data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')

# 使用resample函數按年份分組，並計算每年的行數，即每年出生的貓數量
cat_count_per_year = cat_data.resample('Y', on='birth_datetime').size()

# 輸出結果
print(cat_count_per_year)

C:\Users\bonni\AppData\Local\Temp\ipykernel_29592\1790560528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_data['birth_datetime'] = pd.to_datetime(cat_data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')

birth_datetime
1999-12-31     1
2000-12-31     0
2001-12-31     0
2002-12-31     0
2003-12-31     0
2004-12-31     1
2005-12-31     3
2006-12-31     0
2007-12-31     1
2008-12-31     1
2009-12-31     0
2010-12-31     1
2011-12-31     5
2012-12-31    11
2013-12-31    16
2014-12-31    37
Freq: A-DEC, dtype: int64

In [43]:
name_counts = data['name'].value_counts()

# 取出前15個重複的名字及其對應的數量
top_names = name_counts.head(3)

# 輸出結果
print('前3個最多取的名字:\n',top_names)

前3個最多取的名字:
 Lucy        3
Garfield    2
Rocko       1
Name: name, dtype: int64

In [44]:
# 篩選出outcome_type欄位值為"Transfer"的所有資料
transfer_data = data[data['outcome_type'] == 'Transfer']

# 將datetime格式的outcome_datetime欄位轉換為datetime格式
transfer_data['datetime'] = pd.to_datetime(transfer_data['datetime'], format='%Y-%m-%d %H:%M:%S')

# 使用resample函數按年份分組，並計算每年的行數，即每年轉移的動物數量
transfer_count_per_year = transfer_data.resample('Y', on='datetime').size()

# 輸出結果
print('每年轉移的動物數量:\n',transfer_count_per_year)

每年轉移的動物數量:
 datetime
2013-12-31    13
2014-12-31    57
Freq: A-DEC, dtype: int64

C:\Users\bonni\AppData\Local\Temp\ipykernel_29592\1585070815.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfer_data['datetime'] = pd.to_datetime(transfer_data['datetime'], format='%Y-%m-%d %H:%M:%S')

In [45]:


# 將datetime格式的date_of_birth欄位轉換為datetime格式
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')
data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%dT%H:%M:%S.%f')

# 計算年紀超過5歲的動物數量
over_5_years = data[(data['datetime'] - data['date_of_birth']) > pd.Timedelta(days=5*365)].shape[0]

# 輸出結果
print("歷年來收容所年紀超過5歲的動物數量：",over_5_years)

C:\Users\bonni\AppData\Local\Temp\ipykernel_29592\3418503384.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')
C:\Users\bonni\AppData\Local\Temp\ipykernel_29592\3418503384.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%dT%H:%M:%S.%f')

歷年來收容所年紀超過5歲的動物數量： 24

In [19]:
data['sex_upon_outcome'].unique()

array(['Intact Male', 'Spayed Female', 'Neutered Male', 'Unknown',
       'Intact Female'], dtype=object)

In [27]:
adopted = data[data['outcome_type'] == 'Adoption']

# 篩選出貓的資料
cat_adopted = adopted[adopted['animal_type'] == 'Cat']

# 計算不同性別的貓的數量
grouped = cat_adopted.groupby('sex_upon_outcome')
male_count = grouped.get_group('Neutered Male').shape[0]
female_count = grouped.get_group('Spayed Female').shape[0] 


print("根據已被確定性別的數據來看，被收養且絕育的公貓有", male_count, "隻，母貓有", female_count,"隻")

根據已被確定性別的數據來看，被收養且絕育的公貓有 12 隻，母貓有 18 隻