In [9]:
import pandas as pd

data = pd.read_csv("data.csv")
data

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
78251,1 month,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,3 years,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01T00:00:00,2018-02-01T18:08:00,2018-02-01T18:08:00,NaN,Rabies Risk,Euthanasia,Unknown
78254,2 months,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,2 months,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

In [5]:
most_common_breeds = data['breed'].value_counts().head(10)

print('前10個出現次數最多的品種是:\n', most_common_breeds)

前10個出現次數最多的品種是:
 Domestic Shorthair Mix       23335
Pit Bull Mix                  6135
Chihuahua Shorthair Mix       4733
Labrador Retriever Mix        4608
Domestic Medium Hair Mix      2323
German Shepherd Mix           1892
Bat Mix                       1286
Domestic Longhair Mix         1228
Australian Cattle Dog Mix     1059
Siamese Mix                    998
Name: breed, dtype: int64

In [2]:
# 計算每個物種和花色出現的次數
type_color_counts = data.groupby(['animal_type', 'color']).size()

# 找到出現次數最多的動物和花色
most_common_type_color = type_color_counts.idxmax()

print('出現次數最多的動物和對應花色是:', most_common_type_color)

出現次數最多的動物和對應花色是: ('Dog', 'Black/White')

In [10]:
# 篩選出outcome_type欄位值為 "Adoption" 的所有資料
adopted_animals = data[data['outcome_type'] == 'Adoption']

# 以 "breed" 為分組依據，對 "breed" 欄位進行計數，並按計數結果降序排序
breed_counts = adopted_animals.groupby('breed')['breed'].count().sort_values(ascending=False)

# 顯示結果
print("被收養的前10種動物品種總數：",breed_counts.head(10))

被收養的前10種動物品種總數： breed
Domestic Shorthair Mix       9901
Pit Bull Mix                 2265
Labrador Retriever Mix       2262
Chihuahua Shorthair Mix      2219
Domestic Medium Hair Mix     1052
German Shepherd Mix           895
Australian Cattle Dog Mix     587
Domestic Longhair Mix         580
Siamese Mix                   461
Dachshund Mix                 388
Name: breed, dtype: int64

In [5]:
# 篩選出outcome_type欄位值為 "Died" 的所有資料
died_animals = data[data['outcome_type'] == 'Died']


# 將monthyear欄位轉換為datetime格式
died_animals['datetime'] = pd.to_datetime(died_animals['monthyear'], format='%Y-%m')

# 篩選出年份在2010年到2015年之間的資料
died_animals_2010_2015 = died_animals[(died_animals['datetime'].dt.year >= 2010) & (died_animals['datetime'].dt.year <= 2015)]

# 計算行數，即2010年到2015年死亡的動物總數
total_died_animals_2010_2015 = len(died_animals_2010_2015)

# 顯示結果
print("2010年到2015年死亡的動物總數: {}".format(total_died_animals_2010_2015))

2010年到2015年死亡的動物總數: 335

C:\Users\bonni\AppData\Local\Temp\ipykernel_10576\2156315741.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  died_animals['datetime'] = pd.to_datetime(died_animals['monthyear'], format='%Y-%m')

In [7]:
cat_data = data[data['animal_type'] == 'Cat']

# 將date_of_birth欄位轉換為datetime格式
cat_data['birth_datetime'] = pd.to_datetime(cat_data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')

# 使用resample函數按年份分組，並計算每年的行數，即每年出生的貓數量
cat_count_per_year = cat_data.resample('Y', on='birth_datetime').size()

# 輸出結果
print(cat_count_per_year)

C:\Users\bonni\AppData\Local\Temp\ipykernel_10576\1790560528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_data['birth_datetime'] = pd.to_datetime(cat_data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')

birth_datetime
1992-12-31       1
1993-12-31       1
1994-12-31       8
1995-12-31       4
1996-12-31       5
1997-12-31       7
1998-12-31      30
1999-12-31      35
2000-12-31      59
2001-12-31     100
2002-12-31     128
2003-12-31      96
2004-12-31     188
2005-12-31     213
2006-12-31     245
2007-12-31     338
2008-12-31     329
2009-12-31     423
2010-12-31     532
2011-12-31     740
2012-12-31    1257
2013-12-31    3318
2014-12-31    6010
2015-12-31    6465
2016-12-31    5046
2017-12-31    3844
Freq: A-DEC, dtype: int64

In [16]:
name_counts = data['name'].value_counts()

# 取出前15個重複的名字及其對應的數量
top_names = name_counts.head(15)

# 輸出結果
print('前15個最多取的名字:\n',top_names)

前15個最多取的名字:
 Bella       344
Max         319
Luna        239
Rocky       236
Princess    235
Daisy       233
Charlie     211
Lucy        206
Buddy       201
Coco        186
Lola        174
Blue        168
Lucky       140
Jack        138
Zeus        132
Name: name, dtype: int64

In [12]:
# 篩選出outcome_type欄位值為"Transfer"的所有資料
transfer_data = data[data['outcome_type'] == 'Transfer']

# 將datetime格式的outcome_datetime欄位轉換為datetime格式
transfer_data['datetime'] = pd.to_datetime(transfer_data['datetime'], format='%Y-%m-%d %H:%M:%S')

# 使用resample函數按年份分組，並計算每年的行數，即每年轉移的動物數量
transfer_count_per_year = transfer_data.resample('Y', on='datetime').size()

# 輸出結果
print('每年轉移的動物數量:\n',transfer_count_per_year)

每年轉移的動物數量:
 datetime
2013-12-31    1413
2014-12-31    6182
2015-12-31    5931
2016-12-31    4853
2017-12-31    4874
2018-12-31     246
Freq: A-DEC, dtype: int64

C:\Users\bonni\AppData\Local\Temp\ipykernel_10576\1585070815.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfer_data['datetime'] = pd.to_datetime(transfer_data['datetime'], format='%Y-%m-%d %H:%M:%S')

In [11]:


# 將datetime格式的date_of_birth欄位轉換為datetime格式
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')
data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%dT%H:%M:%S.%f')

# 計算年紀超過5歲的動物數量
over_5_years = data[(data['datetime'] - data['date_of_birth']) > pd.Timedelta(days=5*365)].shape[0]

# 輸出結果
print("歷年來收容所年紀超過5歲的動物數量：",over_5_years)

歷年來收容所年紀超過5歲的動物數量： 11677

In [21]:
adopted = data[data['outcome_type'] == 'Adoption']

# 篩選出貓的資料
cat_adopted = adopted[adopted['animal_type'] == 'Cat']

# 計算不同性別的貓的數量
grouped = cat_adopted.groupby('sex_upon_outcome')
male_count = grouped.get_group('Neutered Male').shape[0] + grouped.get_group('Intact Male').shape[0]
female_count = grouped.get_group('Spayed Female').shape[0] + grouped.get_group('Intact Female').shape[0]

print("根據已被確定性別的數據來看，被收養的公貓有", male_count, "隻，母貓有", female_count,"隻")

根據已被確定性別的數據來看，被收養的公貓有 6161 隻，母貓有 6570 隻

In [22]:
adopted = data[data['outcome_type'] == 'Adoption']
cat_adopted = adopted[adopted['animal_type'] == 'Cat']
grouped = cat_adopted.groupby('sex_upon_outcome')
male_count = grouped.get_group('Neutered Male').shape[0] + grouped.get_group('Intact Male').shape[0]
female_count = grouped.get_group('Spayed Female').shape[0] + grouped.get_group('Intact Female').shape[0]
unknown_count = grouped.get_group('Unknown').shape[0]
print("被收養的貓的性別數量分別是: 公貓=", male_count, " 母貓=", female_count, " 未知=", unknown_count)

被收養的貓的性別數量分別是: 公貓= 6161  母貓= 6570  未知= 1

In [28]:
# 計算待在庇護所時的年紀
now = pd.Timestamp(dt.datetime.now())
data['age'] = (now - pd.to_datetime(data['intake_date'])).dt.days / 365

# 篩選出年紀超過5歲的動物
data_over_5 = data[data['age'] > 5]

# 按照 gender 分組，計算公母總數
grouped = data_over_5.groupby('gender')
male_count = grouped.get_group('Male').shape[0]
female_count = grouped.get_group('Female').shape[0]

print("年紀超過5歲的動物公母總數分別是:", male_count, "和", female_count)

NameError: name 'dt' is not defined

In [27]:
# 將datetime格式的date_of_birth欄位轉換為datetime格式
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], format='%Y-%m-%dT%H:%M:%S.%f')
data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%dT%H:%M:%S.%f')


# 計算年紀超過5歲且被收養的動物數量
over_5_years_adopted = (data[(data['datetime'] - data['date_of_birth']) > pd.Timedelta(days=5*365) & (data['outcome_type'] == 'Adoption')]['Adoption'].count())

# 輸出結果
print(over_5_years_adopted)

TypeError: Cannot perform 'rand_' with a dtyped [bool] array and scalar of type [bool]

In [ ]:
data['age_upon_outcome'] = data['age_upon_outcome'].astype(str)  # 將欄位轉換為字符串格式
data['age_upon_outcome'] = data['age_upon_outcome'].apply(lambda x: pd.Timedelta(x))  # 將欄位轉換為timedelta64數據類型

# 將age_upon_outcome欄位轉換為timedelta64數據類型，以天為單位
data['age_upon_outcome'] = data['age_upon_outcome'].apply(lambda x: x.split())
data['age_upon_outcome'] = data['age_upon_outcome'].apply(lambda x: int(x[0])*365 if 'year' in x else 0)
data['age_upon_outcome'] += data['age_upon_outcome'].apply(lambda x: int(x[0])*30 if 'month' in x else 0)
data['age_upon_outcome'] += data['age_upon_outcome'].apply(lambda x: int(x[0])*7 if 'week' in x else 0)
data['age_upon_outcome'] += data['age_upon_outcome'].apply(lambda x: int(x[0]) if 'day' in x else 0)
data['age_upon_outcome'] = pd.to_timedelta(data['age_upon_outcome'], unit='D')

# 計算age_upon_outcome欄位的平均值（即平均逗留時間）
avg_duration = data['age_upon_outcome'].mean()

# 將平均逗留時間轉換為天數
avg_duration_days = avg_duration.days

print('動物在庇護所的平均逗留時間為:', avg_duration_days, '天')